# ignore build folders
./source/dynamical_systems/build
./source/robot_model/build
./source/state_representation/build
./source/controllers/build
./source/filters/build
# ignore lib folders
./source/dynamical_systems/lib
./source/robot_model/lib
./source/state_representation/lib
./source/controllers/lib
./source/filters/lib